.login_form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login_header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img{
    width: 250px;
    padding-bottom: 15px;
    padding-right: 50px;
}

.login_header h1{
    color: #333;
    font-size: 1.5em;
}

.login_input{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}

.login_buttom{
    background-color: #ee665c;
    border-radius: 8px;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    border: none;
}    

.login_buttom:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
